* {
  box-sizing: border-box;
}
.text {
  position: relative;
  margin: 16px;
}
.text > div {
  border-bottom: 1px dotted black;
  display: inline-block;
}
.tooltip {
  position: absolute;
  bottom: -40px;
  padding: 0;
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
  display: none;
}

.text:hover .tooltip {
  display: block;
}
