* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
}
.spinner {
  margin: auto;
  position: relative;
  animation: blinking 2s;
  animation-iteration-count: infinite;
}
.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
}
.rect {
  width: 10px;
  height: 4px;
  border-radius: 2px;
  background-color: #000;
  position: absolute;
  animation: moving 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
