* {
    box-sizing: border-box;
}

.head {
    text-align: center;
}

header {
    display: flex;
}

h1 {
    align-items: center;
    justify-content: center;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}

.article {
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 8px;
    padding: 18px;
    background-color: bisque;
}