* {
    box-sizing: content-box;
    width: 100%;
    margin: 0;
}

header {
    display: flex;
    flex-basis: 100%;
}

h1 {
    align-items: center;
    justify-content: center;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}

.article {
    flex: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 8px;
    padding: 18px;
    background-color: bisque;
}