* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-basis: 100%;
}

h1 {
    justify-content: center;
    align-items: center;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}

.article {
    flex: 1 0 300px;
    margin: 8px;
    padding: 18px;
    background-color: bisque;
}