* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.cont {
  font-size: 50px;
  width: 200px;
  height: 200px;
  background-color: cornsilk;
}
