@import "variables.scss";

.communication {
  width: 100%;
  padding-left: 15px;
  padding-top: 50px;

  @include for-large-up {
    width: 1400px;
    padding-left: 126px;
    display: flex;
  }
  &_decoration {
    @include for-large-up {
      margin: 0;
      padding: 0;
      margin-top: 110px;
    }
  }
  &_column {
    @include for-large-up {
      width: 461px;
      margin-right: 193px;
    }
    &-subtitle {
      color: #0189d1;
      font-size: 22px;
      line-height: 34px;
      margin: 0;
      @include for-large-up {
        margin-top: 123px;
      }
    }
    &-title {
      color: $primary-text-color;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.36px;
      font-weight: 700;
      margin-top: 17px;
    }
    &-description {
      font-size: 24px;
      line-height: 34px;
      margin-top: 18px;
      margin-bottom: 34px;
    }
  }
  &-line {
    border-top: 1px solid #000;
    width: 150px;
    margin: 0;
    margin-right: auto;
    margin-top: 40px;
    opacity: 0.1;
  }
}
