@import "header.scss";
@import "section.scss";
@import "footer.scss";
@import "about.scss";
@import "customers.scss";
@import "features.scss";
@import "order.scss";
@import "inbox.scss";
@import "communication.scss";
@import "communication-form.scss";
@import "audiences.scss";
@import "audiences.scss";
@import "feedback.scss";
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: $primary-text-color;
}
.page {
  width: 100%;
  overflow-x: hidden;

  @include for-large-up {
    width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
.logo {
  display: flex;

  &__image {
    width: 48px;
    height: 48px;
    margin-right: 13px;

    @include for-large-up {
      width: 60px;
      height: 60px;
      margin-right: 15px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    @include for-large-up {
      line-height: 30px;
    }
  }

  &__description {
    color: $primary-text-color;
    opacity: 0.6;
    font-size: 18px;
    line-height: 25px;

    @include for-large-down {
      display: none;
    }

    @include for-large-up {
      display: block;
      color: $primary-text-color;
      opacity: 0.6;
      font-size: 18px;
      line-height: 25px;
    }
  }

  &_footer {
    display: none;

    @include for-large-up {
      display: block;
      display: flex;
    }
  }
}
.logo__mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;

  @include for-large-up {
    display: none;
  }

  &__image {
    width: 60px;
    height: 60px;
  }

  &__text {
    margin-top: 20px;
  }

  &__name {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
  }

  &__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
  }
}

.action_button {
  height: 48px;
  background-color: $button-color;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-bottom: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);

  @include for-large-up {
    width: 160px;
    margin-bottom: 0;
  }
}
.button_more {
  height: 48px;
  background-color: #fff;
  color: $button-color;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin: 0 auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);

  @include for-large-up {
    width: 160px;
    margin-left: 10px;
  }
}

.button_sm_screen {
  @include for-large-down {
    width: 100%;
  }
}

.section__buttons {
  @include for-large-up {
    margin-top: 58px;
    display: flex;
  }
}
