@import "variables.scss";

.headline {
  width: 100%;

  @include for-large-up {
    position: relative;
    width: 1140px;
    margin: auto;
    display: flex;
    // padding: 84px 25px 77px 126px;
    padding-bottom: 126px;
  }
  &_content {
    margin: 0;
    padding-bottom: 0;
    padding: 0 15px;
    // margin: 35px 15px 33px 15px;
    @include for-large-up {
      position: absolute;
      z-index: 1;
      margin: 0;
      padding: 0;
      // margin-top: 35px;
    }
  }
  &_title {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.3125px;
    margin: 0;

    @include for-large-up {
      width: 754px;
      height: 165px;
      overflow-wrap: break-word;
      font-size: 80px;
      line-height: 78px;
      z-index: 1;
      margin: 0;
    }
  }
  &_description {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
    margin-top: 24px;

    @include for-large-up {
      width: 456px;
      height: 102px;
      margin-top: 34px;
    }
  }
  &__banner {
    margin-top: 33px;
    @include for-large-up {
      width: 796px;
      height: 458px;
      position: relative;
      right: -453px;
      top: 0;
      padding: 0;
      margin: 0;
    }
    &-image {
      @include for-large-down {
        width: 100%;
        // margin-bottom: 36px;
      }
    }
  }
}
.section__buttons {
  @include for-large-down {
    margin-top: 30px;
  }
}
