$primary-text-color: #2b292d;
$button-color: #3040c4;
$border-color: rgba(43, 41, 45, 0.2);

@mixin for-large-up {
  @media screen and (min-width: 400px) {
    @content;
  }
}
@mixin for-large-down {
  @media screen and (max-width: 399px) {
    @content;
  }
}
