* {
  box-sizing: border-box;
}
.nav {
  display: flex;
  background-color: #ff7f50;
  min-height: 200px;
  flex-grow: 1;
}
.prod {
  display: flex;
  background-color: #006400;
  min-height: 200px;
  flex-grow: 1;
}
.news {
  display: flex;
  background-color: #0ff;
  min-height: 200px;
  flex-grow: 1;
}
.container {
  display: flex;
  flex-direction: column;
}

span {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #faebd7;
  padding: 8px;
  border-radius: 4px;
  margin: auto;
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .container > .news {
    width: 100%;
  }
  .container > .nav,
  .prod {
    width: 50%;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
  }
}
